/*The code to color the main page heaer box*/
.wrapper
    {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
        text-align:center;
        background: white;
    }

/*The code to color the main page's background*/
body
    {
        background: grey;
    }

/*The code that centers the credit area*/
.credit
    {
        text-align:center;
        padding: 10px;
    }